#about {
	display: grid;
	grid-template-columns: [left] 50% [right] 50%;
	grid-template-rows: [top] 50% [bottom] 50%;
	padding: 20px;
	height: 100vh;
	background-color: @litegray;

	h3 {
		font-size: 2rem;
		color: @darkblue;
		font-weight: bold;
		padding: 10px 0;
	}

	p, li {
		font-size: 1.5rem;
	}

		
	.title {
		grid-column: left;
		grid-row: top;
		justify-self: center;
		align-self: center;
		width: 100%;
		border-right: 2px solid @darkblue;

		.title-box {
			display: flex;
			flex-direction: column;
			align-items: center;

			.profile-img {
				width: 180px;
				object-fit: cover;
				padding: 1px;
				border: 2px solid @gitgray;
				border-radius: 50%;
			}
		}
	}

	.intro {
		grid-column: right;
		grid-row: top;
		justify-self: center;
		align-self: center;
		width: 60%;
	}

	
	.lists {
		grid-column: left;
		grid-row: bottom;
		justify-self: center;
		align-self: center;
		width: 100%;
		border-right: 2px solid @darkblue;

		.list-box {
			display: flex;
			justify-content: center;

			li {
				margin: 5px;
			}

			.list {
				padding: 20px;
			}
		}
	}

	.gears-img {
		grid-column: right;
		grid-row: bottom;
		justify-self: center;
		align-self: center;
		max-width: 50%;
		width: 200px;
		object-fit: contain;
	}
}