header {
	display: flex;
	background-color: #E4E4E9;
}

nav {
	display: flex;
	justify-content: center;
	
}

nav a {
	font-size: 1.3rem;
	margin: 10px 30px;
	padding: 5px 20px;
	text-decoration: none;
  	color: #E4E4E9;
	border: 1px solid #000066;
	background-color: #000066;
}

nav a:hover {
	transform: scale(1.2);
	color: #000066;
	border: 1px solid #313030;
	border-radius: 5px;
	background-color: #E4E4E9;
}

.iframe {
	height: 80%;
	width: 100%;
}

.fab {
	font-size: 2.5rem;
	margin: 10px 40px;
}

.fa-linkedin {
	color: #0E76A8;
}

.fa-github-square {
	color: #313030;
}

.fab:hover {
	transform: scale(1.1);
}