/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #E4E4E9;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
  background-color: #E4E4E9;
  border-bottom: 2px solid #000066;
}
header .name-bar {
  display: flex;
  align-content: center;
}
header .name-bar h3 {
  font-size: 4rem;
  color: #000066;
}
header .name-bar .fab {
  font-size: 3rem;
  margin: 10px;
}
header .name-bar .fa-linkedin {
  color: #0E76A8;
}
header .name-bar .fa-github-square {
  color: #313030;
}
header .name-bar .fab:hover {
  transform: scale(1.1);
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  font-size: 3rem;
  margin: 0 10px;
  text-decoration: none;
  color: #000066;
}
header nav a:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #000066;
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  header .name-bar {
    justify-content: center;
  }
  header nav {
    background-color: #000066;
    padding: 15px;
  }
  header nav a {
    color: #E4E4E9;
  }
  header nav a:hover {
    border-bottom: none;
  }
}
#about {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #E4E4E9;
}
#about h3 {
  font-size: 2rem;
  color: #000066;
  font-weight: bold;
  padding: 10px 0;
}
#about p,
#about li {
  font-size: 1.5rem;
}
#about .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-right: 2px solid #000066;
}
#about .profile .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
#about .profile .title .profile-img {
  width: 180px;
  object-fit: cover;
  padding: 1px;
  border: 2px solid #313030;
  border-radius: 50%;
}
#about .profile .intro {
  margin: 0 20%;
}
#about .profile .intro p {
  padding: 5px 0;
}
#about .lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .lists .list {
  display: flex;
  flex-direction: column;
}
#about .lists .list li {
  margin: 2px;
}
#about .lists .gears-img {
  width: 150px;
  margin: 10px;
  object-fit: cover;
}
@media (max-width: 500px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about .profile {
    width: 100%;
    border-right: none;
  }
  #about .lists {
    display: flex;
    justify-content: left;
  }
  .gears-img {
    display: none;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.projects .project h3 {
  font-size: 3rem;
  color: #000066;
}
.projects .project p {
  font-size: 1.75rem;
  padding: 5px;
}
.projects .project img {
  width: 400px;
  object-fit: cover;
  padding: 1px;
  margin: 5px;
  border: 2px solid #313030;
}
.projects .project img:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}
.projects .project .code {
  display: flex;
}
.projects .project .code a {
  font-size: 1.75rem;
  text-decoration: none;
  color: black;
  padding: 5px;
}
.projects .project .code a:hover {
  font-style: italic;
  font-weight: bold;
}
